<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Drizzly Video<%= video ? " / " + video.title : audio ? " / " + audio.title : search ? ` / "` + search + `" arama yapıldı.` : "" %></title>
<meta name="author" content="CihatKsm" />
<meta name="theme-color" content="#ff00ff" />

<meta name="application-name" content="Drizzly Video" />
<meta name="yandex-verification" content="4bcefb82eb721bef" />
<meta name="keywords" content="drizzly, Drizzly, drizzlyvideo, drizzly video, Drizzly Video, CihatKsm, CihatKsm#2700">
<meta name="description" content="">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-07MN6VVK31"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-07MN6VVK31');
</script>

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/costum.css">

<meta property="og:title" content="Drizzly Video" />
<meta property="og:url" content="https://video.drizzlydeveloper.xyz/" />
<meta property="og:footer" content="Official website of Drizzly Developer" />
<meta property="og:description" content="" />
<link rel="shortcut icon" href="https://drizzlydeveloper.xyz/img/drizzly.png" />
<meta property="og:image" content="https://drizzlydeveloper.xyz/img/drizzly.png" />

<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap">

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>