<section class="flex flex-wrap text-2xl font-medium fixed z-10 px-4 py-3 w-full justify-between bg-gradient-to-r dark:from-[#6e266e] from-[#ff90ff] via-[#f700ff50] to-[#ffffff00] bg-white dark:bg-black bg-opacity-30 dark:bg-opacity-80">
    <div class="flex flex-wrap">
        <div>
            <a href="/" class="hover:text-red-500 duration-500 group">~drizzly<span class="inline group-hover:hidden">video</span><span class="hidden group-hover:inline">dev<span class="inline lg:hidden">.</span><span class="hidden lg:inline">eloper</span></span></a>
        </div>
        <div>
            <button onclick="darkMode()" class="text-gray-800 ml-4 transition-colors mr-2">
                <span class="hidden dark:inline">
                    <i class="fa-solid fa-brightness text-xl text-white hover:text-yellow-500 duration-500"></i>
                </span>
                <span class="inline dark:hidden">
                    <i class="fa-solid fa-moon text-xl text-black hover:text-blue-700 duration-500"></i>
                </span>
            </button>
        </div>
        <div>
        <button onclick="typefunc()" class="text-gray-800 ml-4 transition-colors mr-2">
            <% if (audio) { %>
                <span>
                    <i class="fa-solid fa-video text-xl text-white hover:text-red-600 duration-500"></i>
                </span>
            <% } %>
            <% if (video) { %>
                <span>
                    <i class="fa-solid fa-music fa-solid fa-moon text-xl text-blue-500 hover:text-blue-700 duration-500"></i>
                </span>
            <% } %>
        </button>
        <% let audio_id = audio ? audio.videoId ? audio.videoId : null : null %>
        <% let video_id = video ? video.videoId ? video.videoId : null : null %>
        <script>
            function typefunc () {
                let _id = `<%= audio_id ? audio_id : video_id ? video_id : null %>`
                localStorage.type = `<%= audio_id %>` ? "video" : `<%= video_id %>` ? "audio" : null
                location.href=`/?watch=${_id}`
            }
        </script>
        </div>
    </div>
    <div class="flex flex-wrap transition ease-in-out duration-500">
        <div>
            <a class="px-2" href="http://drizzlydeveloper.xyz/">
                <i class="far fa-home text-xl hover:text-red-500 duration-500"></i>
            </a>
        </div>
    </div>
</section>