html {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #374151;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

.tab {
    overflow: hidden;
}

.tab-content {
    max-height: 0;
    transition: all 0.5s;
}

input:checked ~ .tab-content {
    max-height: 100vh;
}

#page, #loader {
    position: relative;
    -webkit-animation-name: animation;
    -webkit-animation-duration: 1s;
    animation-name: animation;
    animation-duration: 1s
}

@-webkit-keyframes animation {
    from { opacity:0 } 
    to { opacity:1 }
}

@keyframes animation { 
    from { opacity:0 } 
    to { opacity:1 }
}

#banner:hover, #avatar:hover, #banner_color:hover {
    cursor: url("https://img.icons8.com/ios-glyphs/25/0000ff/copy.png"), auto;
}
.range {
	background: #ffffff00;
	height: 1rem;
  border: 2px solid rgb(239, 68, 68);
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type="range"] {
	-webkit-appearance: none;
	height: 100%;
	background: transparent;

	&:focus {
		outline: none;
	}

	//WEBKIT
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: rgb(239, 68, 68);
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgb(239, 68, 68);
		cursor: pointer;
	}

	&::-webkit-slider-runnable-track {
		width: 60%;
		height: 9px;
		background: rgb(239, 68, 68);
		border-radius: 3rem;

		transition: all 0.5s;
		cursor: pointer;
	}

	&:hover::-webkit-slider-runnable-track {
		background: #ff6e40;
	}

	// IE

	&::-ms-track {
		width: 60%;
		cursor: pointer;
		height: 9px;
		transition: all 0.5s;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	&::-ms-thumb {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #ffffff;
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgb(239, 68, 68);

		cursor: pointer;
	}

	&::-ms-fill-lower {
		background: rgb(239, 68, 68);
		border-radius: 3rem;
	}
	&:focus::-ms-fill-lower {
		background: rgb(239, 68, 68);
	}
	&::-ms-fill-upper {
		background: rgb(239, 68, 68);
		border-radius: 3rem;
	}
	&:focus::-ms-fill-upper {
		background: #ff6e40;
	}

	//FIREFOX
	&::-moz-range-thumb {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: rgb(239, 68, 68);
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgb(239, 68, 68);

		cursor: pointer;
	}

	&::-moz-range-track {
		width: 60%;
		height: 9px;
		background: rgb(239, 68, 68);
		border-radius: 3rem;

		transition: all 0.5s;
		cursor: pointer;
	}
	&:hover::-moz-range-track {
		background: #ff6e40;
	}
}
